@model SignInForm.Models.EditModel
@{
    ViewBag.Title = "Edit";
}

<h2>Редактировать данные профиля</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>

    @Html.ValidationSummary(false, "", new { @style = "color:red" })


    @*<script>
        function enableDisable(checkbox) {
            if (checkbox.checked == true) {
                $("#newPassw").removeAttr('readonly');
                $("#confnewPassw").removeAttr('readonly');
            }
            else if (checkbox.checkbox == false){
                $("#newPassw").setAttr('readonly');
                $("#confnewPassw").setAttr('readonly');
            }
        }
    </script>
    <div>
        Новый пароль
        <div> @Html.TextBoxFor(model => model.Password, new {id="newPassw" , @readonly = "readonly", @class = "form-control" })</div>
        <p>
            <input type="checkbox" onclick="enableDisable(this)">
            Изменить пароль
        </p>
    </div>

    <div>
        Подтвердить пароль
        <div > @Html.TextBoxFor(model => model.PasswordConfirm, new { id="confnewPassw" , @readonly = "readonly", @class = "form-control" })</div>
    </div>*@


    <div>
        Имя
        <div> @Html.EditorFor(model => model.Name , new { @class = "form-control" })</div>
    </div>

    <div>
        Фамилия
        <div> @Html.EditorFor(model => model.SurName, new { @class = "form-control" })</div>
    </div>

    <div>
        Год Рождения
        <div> @Html.EditorFor(model => model.Year, new { @class = "form-control" })</div>
    </div>


    @{
        List<SelectListItem> listItems = new List<SelectListItem>();
        listItems.Add(new SelectListItem
        {
            Text = "Australia",
            Value = "Australia"
        });
        listItems.Add(new SelectListItem
        {
            Text = "Austria",
            Value = "Austria",
        });
        listItems.Add(new SelectListItem
        {
            Text = "Azerbaijan",
            Value = "Azerbaijan"
        });
        listItems.Add(new SelectListItem
        {
            Text = "Austria",
            Value = "Austria",
        });
        listItems.Add(new SelectListItem
        {
            Text = "Canada",
            Value = "Canada",
        });
        listItems.Add(new SelectListItem
        {
            Text = "USA",
            Value = "USA",
        });
        listItems.Add(new SelectListItem
        {
            Text = "Ukraine",
            Value = "Ukraine",
            Selected = true
        });
    }
    <div>
        Страна
        <div> @Html.DropDownListFor(model => model.Country, listItems, "-- Select Country --", new { @class = "form-control" })</div>
    </div>

    <div class="SaveEditInfoClass">
        <div>
            <input type="submit" value="Сохранить" />
        </div>
    </div>
</div>
}

